<div class="piece-container">
    <div class="piece" id="piece">
        <div class="piece-front"></div>
        <div class="piece-back"></div>
    </div>
</div>
<div class="piece-container">
    <div class="piece" id="piece">
        <div class="piece-front"></div>
        <div class="piece-back"></div>
    </div>
</div>
<div class="piece-container">
    <div class="piece" id="piece">
        <div class="piece-front"></div>
        <div class="piece-back"></div>
    </div>
</div>
<div class="piece-container">
    <div class="piece" id="piece">
        <div class="piece-front"></div>
        <div class="piece-back"></div>
    </div>
</div>
<div class="piece-container">
    <div class="piece" id="piece">
        <div class="piece-front"></div>
        <div class="piece-back"></div>
    </div>
</div>
<div class="piece-container">
    <div class="piece" id="piece">
        <div class="piece-front"></div>
        <div class="piece-back"></div>
    </div>
</div>
<div class="piece-container">
    <div class="piece" id="piece">
        <div class="piece-front"></div>
        <div class="piece-back"></div>
    </div>
</div>
<div class="piece-container">
    <div class="piece" id="piece">
        <div class="piece-front"></div>
        <div class="piece-back"></div>
    </div>
</div>